<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "sesac.spring_0314.mapper.MainMapper">
    <select id="retrieveAll" resultType="sesac.spring_0314.domain.User">
        SELECT user.* FROM user
    </select>
</mapper>